<div class="contaienr forgotPassword">
    <form [formGroup]="forgotPassword" (ngSubmit)="sendCode(forgotPassword)">
        <div class="row my-5">
            <div class="col-md-8 m-auto">
                <div class="layer bg-light shadow p-5">
                    <label for="">email</label>
                    <input formControlName="email" type="email" class="form-control">
                    <p class="text-main">{{msgSuccss}}</p>
                    <button class="btn bg-main text-light my-2">Send code</button>
                </div>
            </div>

        </div>
    </form>
</div>


<div class="contaienr verifyCode d-none">
    <form [formGroup]="verifyCode" (ngSubmit)="verifyResetCode(verifyCode)">
        <div class="row my-5">
            <div class="col-md-8 m-auto">
                <div class="layer bg-light shadow p-5">
                    <label for="">Code</label>
                    <input formControlName="resetCode" type="text" class="form-control">
                    <p class="text-main">{{msgSu}}</p>
                    <button class="btn bg-main text-light my-2">Send</button>
                </div>
            </div>

        </div>
    </form>
</div>