<footer class="bg-main-light py-4">
    <div class="container">
        <h2 class="text-main">Keep in touch with the FreshCart support team! </h2>
        <p class="text-muted"> enter your e-mail and ask our support for any inquiries... </p>
        <div class="d-flex gap-3">
            <input type="email" class="form-control" placeholder="Email">
            <button class="main-btn btn btn-outline-primary flex-shrink-0">live chat</button>
        </div>

        <div class="d-flex align-content-around align-items-baseline justify-content-around pt-5">
            <div class="d-flex align-items-baseline">
                <h3 class="me-4 text-main">Payment Partners</h3>
                <p>
                    <img src="../../../assets/images/amazon.svg" alt="" width="32px">
                    <!-- <i class="fa-brands fa-amazon fs-4"></i> -->
                    <img src="../../../assets/images/paypal.svg" alt="" width="32px" class="mx-4">
                    <!-- <i class="fa-brands fa-paypal mx-3 fs-4"></i> -->
                    <img src="../../../assets/images/mastercard.svg" alt="" width="42px">
                    <!-- <i class="fa-brands fa-cc-mastercard fs-4"></i> -->
                </p>
            </div>

            <div class="d-flex align-items-baseline">
                <h3 class="me-4 text-main"> Pre-register for our app</h3>
                <p>
                    <img src="../../../assets/images/google-play.svg" alt="" width="32" class="me-3">
                    <!-- <i class="fa-brands fa-google-play mx-3 fs-4"></i> -->
                    <img src="../../../assets/images/app-store.svg" alt="" width="32">
                    <!-- <i class="fa-brands fa-app-store fs-4"></i> -->
                </p>
            </div>
        </div>
        <hr>
        <h3 class="h6 text-center">&copy;2024 <a href="https://www.behance.net/ahmedsobhy45" class="text-primary">Ahmed S. Algendi</a> All Rights Reserved</h3>
    </div>
</footer>