<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section id="notfound">
        <div class="container my-5">
            <h2 class="text-danger fs-2">Oops! Page not found.</h2>
            <h1>404</h1>
            <p class="text-danger">We can't find the page you're looking for</p>
            <a routerLink="/home"> <button class="btn btn-outline-success rounded-5 fw-bold">Go back home</button></a>
        </div>
    </section>
</body>

</html>