<section>
    <div class="container my-5">
        <h1 class="text-main">Register Form</h1>
        <form [formGroup]="resetForm" (ngSubmit)="resetSubmit(resetForm)">
            <div class="row">
                <div class="col-md-8 m-auto bg-light shadow p-5 my-5">
                    <div class="row gy-4">
                        <div class="col-md-12">
                            <label class="fw-bold" for="user_email">email</label>
                            <input formControlName="email" type="email" id="user_email" class="form-control">
                            <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched" class="pt-2">
                                <div class="alert alert-danger" role="alert">
                                    <p class="text-danger" *ngIf="resetForm.get('email')?.getError('required')">
                                        * This input field is required</p>
                                    <p class="text-danger" *ngIf="resetForm.get('email')?.getError('email')">
                                        * please enter a valid email</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="fw-bold" for="user_Password"> new password</label>
                            <input formControlName="newPassword" type="password" id="user_Password" class="form-control">
                            <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched"
                                class="pt-2">
                                <div class="alert alert-danger" role="alert">
                                    <p class="text-danger" *ngIf="resetForm.get('newPassword')?.getError('required')">
                                        * This input field is required</p>
                                    <p class="text-danger" *ngIf="resetForm.get('newPassword')?.getError('pattern')">
                                        * please enter a valid password</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div *ngIf="errors" class="alert alert-danger" role="alert">
                                <p>*{{errors}}</p>
                            </div>
                            <button [disabled]="resetForm.invalid" class="btn bg-main text-light float-end"
                                type="submit">Reset Password
                                <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>